@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF1E3;
  --cream: #fdf7ec;
  --sepia: #704214;
  --sepia-light: #a08060;
}

body {
  background-color: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
